<form [formGroup]="ordersForm" (ngSubmit)="addOrders()">
  <div>
   <div [ngClass]="{'has-error':hasFieldError('itemName')}">   
    itemName: <input type="text" formControlName="itemName">
    <label [hidden]="!hasFieldError('itemName')">item name is required</label> 
  </div>
  <br>

  <div [ngClass]="{'has-error':hasFieldError('price')}">
    price: <input type="number" formControlName="price">
    <label [hidden]="!hasFieldError('price')">price is required</label> 
  </div>
  <br> 

  <div [ngClass]="{'has-error':hasFieldError('address')}">
    address:<input type="text" formControlName="address">
    <label [hidden]="!hasFieldError('address')">address is required</label> 
  </div>
  <br>

  <div [ngClass]="{'has-error':hasFieldError('mobileNumber')}">
    mobileNumber:<input type="number" formControlName="mobileNumber">
    <label [hidden]="!hasFieldError('mobileNumber')">mobile number is required</label>
  </div>
  <br>
  <input type="submit" name="submit" [disabled]="ordersForm!.valid">
</div>
</form>
